.about {
  background-color: #222;
}

.about .section-title {
  color: #FFF;
}
.about .about-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.about-image {
  flex: 1 1 300px;
  max-width: 400px;
  margin: 30px;
}
.about-image > img {
  border-radius: 50%;
}

.about-text {
  flex: 1 1 300px;
  margin: 30px;
  text-align: center;
}
.about-text p {
  font-size: 2rem;
  color: #FFF;
}