/* INTRO */
.intro {
  align-items: center;
  background-color: #222222;
  display: grid;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: calc(100vw - (100vw - 100%));
  z-index: 2; /* To get above mobile menu */
}

/* INTRO INFO */
.intro-info {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

/* INFO-TEXT */
.info-text {
  color: #FFF;
  display: grid;
  flex: 1 1 300px;
  margin-right: 30px;
  text-align: center;
}
.info-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.info-text p {
  font-size: 2rem;
  padding: 10px 0;
}

/* INTRO BUTTON */
/* SEE INTRO-BUTTON.CSS */

/* PROFILE-PICTURE */
.profile-picture {
  align-self: center;
  flex: 1 1 200px;
  max-width: 200px;
  width: fit-content;
}
.profile-picture > img{
  border-radius: 50%;
}

/* LANGUAGE SELECTOR */
.language-selector {
  position: absolute;
  right: 5px;
  top: 10px;
}
.language-selector ul {
  display: flex;
}
.language-selector a {
  color: #FFF;
  font-size: 1.125rem;
  padding: 5px;
  transition: color 0.3s ease-out;
}
.language-selector a:hover {
  color: #F8F32B;
}