/* FONT IMPORT */
/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

/* INTRO */
/* SEE INTRO.CSS */

/* HEADER */
/* SEE HEADER.CSS */

/* MAIN */
.portfolio, .about, .contact {
  padding: 60px 0;
}

